<section class="page-image page-image-contact md-padding">
	<h1 class="text-white text-center">POST DÜZENLE</h1>
</section>
<!--==========================
    Contact Section
============================-->
<section id="contact" class="md-padding">
	<div class="container">

		<div class="row text-center">
			<div class="col-md-4 offset-md-4">
				<div class="section-header">
					<h2 class="title">POST Düzenle</h2>

				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<form action="/admin/posts/{{post._id}}?_method=PUT" method="POST" enctype="multipart/form-data">
					<input type="hidden" name="_method" value="PUT">
					<div class="row">
						<div class="offset-2 col-md-8">
							<div class="form-group">
								<span>Başlık</span>
								<input class="form-control" name="title_tr" type="text" value="{{post.title_tr}}"
									required="required" data-validation-required-message="Lütfen başlık giriniz.">
								<p class="help-block text-danger"></p>
							</div>
							<div class="form-group">
								<span>İçerik</span>
								<textarea class="form-control" name="content_tr" required="required"
									data-validation-required-message="Lütfen içerik giriniz.">{{post.content_tr}}</textarea>
								<p class="help-block text-danger"></p>
							</div>
							<div class="form-group">
								<span>Title</span>
								<input class="form-control" name="title_en" type="text" value="{{post.title_en}}"
									required="required"
									data-validation-required-message="Please enter the title of the new post.">
								<p class="help-block text-danger"></p>
							</div>
							<div class="form-group">
								<span>Content</span>
								<textarea class="form-control" name="content_en" required="required"
									data-validation-required-message="Please enter the content of the new post.">{{post.content_en}}</textarea>
								<p class="help-block text-danger"></p>
							</div>
							<div class="form-group">
								<span>Title</span>
								<input class="form-control" name="title_ar" type="text" value="{{post.title_ar}}"
									required="required"
									data-validation-required-message="Please enter the title of the new post.">
								<p class="help-block text-danger"></p>
							</div>
							<div class="form-group">
								<span>Content</span>
								<textarea class="form-control" name="content_ar" required="required"
									data-validation-required-message="Please enter the content of the new post.">{{post.content_ar}}</textarea>
								<p class="help-block text-danger"></p>
							</div>
							<div class="form-group">
								<span>Category</span>
								<select class="form-control" name="category_id">
									{{#each categories}}
									<option id="kategori" value="{{_id}}" {{editHelper (lookup ../post 'category_id' )
										_id}}>{{name_tr}} </option>
									{{/each}}
								</select>
							</div>
							<div class="form-group">
								<span>Image</span>
								<input value="{{post.post_image}}" class="form-control" name="post_image" type="file" onchange="loadFile(event)">
								<p class="help-block text-danger"></p>
								<img src="{{post.post_image}}" id="output">

								<script>
									var loadFile = function (event) {
										var post_image = document.getElementById('output');
										post_image.src = URL.createObjectURL(event.target.files[0]);
									};
								</script>
							</div>
						</div>
						<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script> 
						<div class="clearfix"></div>
						<div class="col-lg-12 text-center">
							<div id="success"></div>
							<button class="main-btn" type="submit">Kaydet</button>
						</div>
					</div>
				</form>
			</div>
		</div>

	</div>
</section>