<!--==========================
    INSIDE HERO SECTION Section
============================-->
<section class="page-image page-image-about md-padding">
	<h1 class="text-white text-center">About</h1>
</section>

<!--==========================
    ABOUTUS Section
============================-->
<section id="aboutus" class="md-padding">
	<div class="container">
		{{> admin-nav}}
	<div class="clearfix"></div>
	<div class="mb-5"></div>
		<div class="row">
			<div class="col-md-12">

			<div class="row text-center">
				<div class="col-md-4 offset-md-4">
					<div class="section-header">
						<h2 class="title">About</h2>
					</div>
				</div>
			</div>

		<div class="row">
			<div class="col-lg-9">
				<form action="/admin/about/{{about._id}}?_method=PUT" method="POST" enctype="multipart/form-data">
					<div class="row">
						<div class="offset-2 col-md-12">
                            <div class="form-group">
								<span>Türkçe Başlık</span>
								<input class="form-control" name="title_tr" type="text" value="{{about.title_tr}}" placeholder="Türkçe Başlık*" required="required" data-validation-required-message="Lütfen başlık giriniz.">
								<p class="help-block text-danger"></p>
							</div>
							<div class="form-group">
								<span>İngilizce Başlık</span>
								<input class="form-control" name="title_en" type="text" value="{{about.title_en}}" placeholder="İngilizce Başlık*" required="required" data-validation-required-message="Please enter the title of the new post.">
								<p class="help-block text-danger"></p>
							</div>
							<div class="form-group">
								<span>Title AR</span>
								<input class="form-control" name="title_ar" type="text" value="{{about.title_ar}}" placeholder="Title AR*" required="required" data-validation-required-message="Please enter the title of the new post.">
								<p class="help-block text-danger"></p>
							</div>
							<div class="form-group">
								<span>Türkçe İçerik</span>
								<textarea class="form-control" name="content_tr" placeholder="Türkçe İçerik*" style="min-height: 250px;" required="required" data-validation-required-message="Lütfen içerik giriniz.">{{about.content_tr}}</textarea>
								<p class="help-block text-danger"></p>
							</div>
							<div class="form-group">
								<span>İngilizce İçerik</span>
								<textarea class="form-control" name="content_en" placeholder="İngilizce İçerik*" style="min-height: 250px;" required="required" data-validation-required-message="Please enter the content of the new post.">{{about.content_en}}</textarea>
								<p class="help-block text-danger"></p>
							</div>
							<div class="form-group">
								<span>Arapça İçerik</span>
								<textarea class="form-control" name="content_ar" placeholder="Arapça İçerik*" style="min-height: 250px;" required="required" data-validation-required-message="Please enter the content of the new post.">{{about.content_ar}}</textarea>
								<p class="help-block text-danger"></p>
							</div>
							<div class="form-group">
								<span>Image</span>
								<input class="form-control" name="about_image" type="file" required="required" data-validation-required-message="Please upload an image.">
								<p class="help-block text-danger"></p>
							</div>
						</div>
					
						<div class="clearfix"></div>
						<div class="col-lg-12 text-center">
							<div id="success"></div>
							<button class="main-btn" type="submit">Save</button>
						</div>
					</div>
				</form>
			</div>
		</div>

	</div>
		</div>
	</div>
</section>