<!--==========================
    INSIDE HERO SECTION Section
============================-->
<section class="page-image page-image-about md-padding">
	<h1 class="text-white text-center">HİZMETLER</h1>
</section>

<!--==========================
    ABOUTUS Section
============================-->
<section id="aboutus" class="md-padding">
	<div class="container">
		{{> admin-nav}}
	<div class="clearfix"></div>
	<div class="mb-5"></div>
		<div class="row">
			<div class="col-md-12">

			<div class="row text-center">
				<div class="col-md-4 offset-md-4">
					<div class="section-header">
						<h2 class="title">Hizmetler</h2>
					</div>
				</div>
			</div>

		<div class="row">
			<div class="col-md-12">
				<table class="table table-responsive w-100 d-block d-md-table">
					<thead>
						<tr>
							<th>TÜRKÇE İÇERİK</th>
							<th>İNGİLİZCE İÇERİK</th>
							<th>ARAPÇA İÇERİK</th>
							<th>DÜZENLE</th>
							<th>SİL</th>
						</tr>
					</thead>
					<tbody>
						{{#each service}}
						<tr>
							<td>{{title_tr}}</td>
							<td>{{title_en}}</td>
							<td>{{title_ar}}</td>
							
							<td>
								<a class="btn btn-warning" href="/admin/service/edit/{{_id}}">DÜZENLE</a>
							</td>
							<td>

								<form action="/admin/service/{{_id}}?_method=DELETE" method="POST">
									<input type="hidden" name="_method" value="DELETE">
									<button type="submit" class="btn btn-danger">SİL</button>
								</form>

							</td>
						</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
			
			<div  class="col-md-8">
				<div class="row text-center">
				<div class="col-md-4 offset-md-6">
					<div class="section-header">
						<h2 class="title">Hizmet Ekle</h2>
					</div>
				</div>
			</div>
			
				<form action="/service/test" method="POST" enctype="multipart/form-data">
					<div class="row">
						<div class="offset-2 col-md-12">
                            
							<div class="form-group">
								<textarea class="form-control" name="title_tr" placeholder="Türkçe İçerik *" style="min-height: 250px;" ></textarea>
								<p class="help-block text-danger"></p>
							</div>
						
							<div class="form-group">
								<textarea class="form-control" name="title_en" placeholder="İngilizce İçerik *" style="min-height: 250px;" ></textarea>
								<p class="help-block text-danger"></p>
							</div>
							
							<div class="form-group">
								<textarea class="form-control" name="title_ar" placeholder="Arapça İçerik *" style="min-height: 250px;" ></textarea>
								<p class="help-block text-danger"></p>
							</div>
						</div>
					
						<div class="clearfix"></div>
						<div class="col-lg-12 text-center">
							<div id="success"></div>
							<button class="main-btn" type="submit">Kaydet</button>
						</div>
					</div>
				</form>
			</div>
			
		</div>

	</div>
		</div>
	</div>
</section>