{{!--
<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="footer-follow">
					<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
					<li><a href="#"><i class="fab fa-twitter"></i></a></li>
					<li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
					<li><a href="#"><i class="fab fa-instagram"></i></a></li>
					<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
					<li><a href="#"><i class="fab fa-youtube"></i></a></li>
				</ul>
				<div class="footer-copyrights">
					<p class="text-white">NO COPYRIGHT MESE YAZILIM</p>
				</div>
			</div>
		</div>
	</div>
</footer> --}}

<footer class="footer bg-footer">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="footer-py-60">
					<div class="row">
						{{#each contact}}
						<div class="col-lg-4 col-12 mb-0 mb-md-4 pb-0 pb-md-2">
							<a href="#" class="logo-footer">
								
							</a>
							<p class="lang" data-key="COMPANY_NAME">ENDÜKİM ENDÜSTRİYEL KİMYA ANONİM ŞİRKETİ</p>
							<p>
							<p class="lang" data-key="ADRESS">Adres : </p> {{adres}} </p>
							
							<!--end icon-->
						</div>


						<div class="col-lg-4 col-12 mb-0 mb-md-4 pb-0 pb-md-2">
							<ul style="    margin: auto;  width: fit-content;" class="list-unstyled footer-list mt-4">
								<li><a href="/" class="text-foot lang" data-key="HOME"><i
											class="uil uil-angle-right-b me-1"></i> Anasayfa</a>
								</li>
								<li><a href="/blog" class="text-foot lang" data-key="PRODUCTS"><i
											class="uil uil-angle-right-b me-1"></i>
										Ürünlerimiz</a></li>
								<li><a href="/contact" class="text-foot lang" data-key="CONTACT"><i
											class="uil uil-angle-right-b me-1"></i>
										İletişim</a></li>
								<li><a href="/about" class="text-foot lang" data-key="ABOUT"><i
											class="uil uil-angle-right-b me-1"></i> Hakkımızda </a></li>
							</ul>
						</div>

						<div class="col-lg-4 col-12 mb-0 mb-md-4 pb-0 pb-md-2">
							<p class="mt-4">
							<p class="lang" data-key="CONTACT"> İletişim : </p>

							{{contact_name}}
							{{contact_email}}
							<br><br>
							Telefon : {{phone}}
							<br> {{kurumsal_email}}

							</p>

						</div>
						{{/each}}
					</div>
					<!--end row-->
				</div>
			</div>
			<!--end col-->
		</div>
		<!--end row-->
	</div>
	<!--end container-->

	<div class="footer-py-30 footer-bar bg-footer">
		<div class="container">
			<div class="row align-items-center">
				<div class="col">
					<div class="text-center">
						<p class="mb-0 text-muted lang" data-key="FOOTER">
							<script type="text/javascript" id="www-widgetapi-script"
								src="https://www.youtube.com/s/player/c5a4daa1/www-widgetapi.vflset/www-widgetapi.js"
								async=""></script>
							<script id="iframe_api" src="https://www.youtube.com/iframe_api"></script>
							2022 © Company. ENDÜKİM ENDÜSTRİYEL KİMYA A. Ş. Tüm Hakları Saklıdır.
						</p>
					</div>
				</div>
				<!--end col-->
			</div>
			<!--end row-->
		</div>
		<!--end container-->
	</div>
</footer>

<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script> -->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="js/main-bundled.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script>
	$('#mySelect').change(function () {
		document.getElementById('button').click();
	});
</script>
<script type="text/javascript" src="/js/multilang.js"></script>
<script type="text/javascript" src="/js/deneme.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

<!-- süleymanın dil için yaptığı dropdowndan alındı-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

<script src="/js/lightbox-plus-jquery.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/main.js"></script>
</body>

</html>