<!--==========================
    INSIDE HERO SECTION Section
============================-->
<section class="page-image page-image-about md-padding">
	<h1 class="text-white text-center">POSTLAR</h1>
</section>

<!--==========================
    ABOUTUS Section
============================-->
<section id="aboutus" class="md-padding">
	<div class="container">
		{{> admin-nav}}
	<div class="clearfix"></div>
	<div class="mb-5"></div>
		<div class="row">
			<div class="col-md-6">
				<table class="table">
					<thead>
						<tr>
							<th>TÜRKÇE BAŞLIK</th>
							<th>İNGİLİZCE BAŞLIK</th>
							<th>ARAPÇA BAŞLIK</th>
							<th>DÜZENLE</th>
							<th>SİL</th>
						</tr>
					</thead>
					<tbody>
						{{#each posts}}
						<tr>
							<td>{{title_tr}}</td>
							<td>{{title_en}}</td>
							<td>{{title_ar}}</td>
							<td>
								<a class="btn btn-warning" href="/admin/posts/edit/{{_id}}">DÜZENLE</a>
							</td>
							<td>
								<form action="/admin/posts/{{_id}}?_method=DELETE" method="POST">
									<input type="hidden" name="_method" value="DELETE">
									<button type="submit" class="btn btn-danger">SİL</button>
								</form>
							</td>
						</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
			<div class="col-md-6">

			<div class="row text-center">
				<div class="col-md-4 offset-md-4">
					<div class="section-header">
						<h2 class="title">POST EKLE</h2>
					</div>
				</div>
			</div>

		<div class="row">
			<div class="col-lg-12">
				<form action="/posts/test" method="POST" enctype="multipart/form-data">
					<div class="row">
						<div class="offset-2 col-md-12">
                            <div class="form-group">
								<input class="form-control" name="title_tr" type="text" placeholder="Başlık *" required="required" data-validation-required-message="Lütfen başlık giriniz.">
								<p class="help-block text-danger"></p>
							</div>
							<div class="form-group">
								<textarea class="form-control" name="content_tr" placeholder="İçerik *" style="min-height: 250px;" required="required" data-validation-required-message="Lütfen içerik giriniz."></textarea>
								<p class="help-block text-danger"></p>
							</div>
							<div class="form-group">
								<input class="form-control" name="title_en" type="text" placeholder="Title en*" required="required" data-validation-required-message="Please enter the title of the new post.">
								<p class="help-block text-danger"></p>
							</div>
							<div class="form-group">
								<textarea class="form-control" name="content_en" placeholder="Content en*" style="min-height: 250px;" required="required" data-validation-required-message="Please enter the content of the new post."></textarea>
								<p class="help-block text-danger"></p>
							</div>


							<div class="form-group">
								<input class="form-control" name="title_ar" type="text" placeholder="Title ar*" required="required" data-validation-required-message="Please enter the title of the new post.">
								<p class="help-block text-danger"></p>
							</div>
							<div class="form-group">
								<textarea class="form-control" name="content_ar" placeholder="Content ar*" style="min-height: 250px;" required="required" data-validation-required-message="Please enter the content of the new post."></textarea>
								<p class="help-block text-danger"></p>
							</div>
							<div class="form-group">
								<select class="form-control" name="category_id">
									{{#each categories}}
									 <option value="{{_id}}">{{name_tr}}</option>
									{{/each}}
								</select>
							</div>
						
							<div class="form-group">
								{{!-- <input class="form-control" name="post_image" type="file" required="required" data-validation-required-message="Please upload an image.">
								<p class="help-block text-danger"></p> --}}

								<p><label for="file" style="cursor: pointer;">Upload Image</label></p>
								<p><input class="form-control" type="file" accept="image/*" name="post_image" id="file"  onchange="loadFile(event)" required="required" data-validation-required-message="Please upload an image."></p>
								<p><img id="output" width="200" /></p>
								
								<script>
									var loadFile = function (event) {
										var post_image = document.getElementById('output');
										post_image.src = URL.createObjectURL(event.target.files[0]);
									};
								</script>
							</div>
							
						</div>
					
						<div class="clearfix"></div>
						<div class="col-lg-12 text-center">
							<div id="success"></div>
							<button class="main-btn" type="submit">Ekle</button>
						</div>
					</div>
				</form>
			</div>
		</div>

	</div>
		</div>
	</div>
</section>