<!--==========================
    INSIDE HERO SECTION Section
============================-->
<section class="page-image page-image-blog md-padding">
	<h1 class="text-white text-center lang" data-key="PRODUCTS">PRODUCTS</h1>
</section>

<!--==========================
    Contact Section
============================-->

<section id="blog" class="md-padding">
	<div class="container">
		<div class="row">
			<!-- Category -->
			{{> site-sidebar}}
			<!-- /Category -->
			<main id="main" class="col-md-8">
				{{#if sessionFlash.message}}
				<div class="{{sessionFlash.type}}">
					{{sessionFlash.message}}
				</div>
				{{/if}}
				<div class="row">
					{{#each posts}}
					<div class="col-md-6" id="filter" style="">
						<div class="blog">
							{{!-- bu sadece db'den seçili dili ve idsini getiriyor  --}}
							{{!-- {{selection_helper lookup ../myselect 'selection' title_tr}} --}}
							<div class="blog-img">
								<img src="{{post_image}}" class="img-fluid">
							</div>
							<div class="blog-content" id="irfan">
								<h3>{{selection_helper (lookup ../myselect 'selection') title_tr title_en title_ar}}</h3> 
								<p class="description">{{selection_helper (lookup ../myselect 'selection') content_tr content_en content_ar}}</p>
								<a href="/posts/{{_id}}" class="lang" data-key="READ_MORE">Read More</a>
							</div>
							<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
							<script>

								if (localStorage.getItem("langSelected") == "tr-tr")

							</script>
						</div>
					</div>


					{{!--
					<script>
							var irfan = document.getElementById("lang").innerText;
						if (irfan == "62926f296ea9b3ab8b5b6c31") {
							console.log("en-gb");
						} else {
							console.log("tr-tr")
						}
						console.log(irfan);
					</script> --}}
					{{/each}}

				</div>
			</main>
			<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
			<script>
				const selectedLang = $('#mySelect').find('option').each(function (i, e) {
					if ($(e).val() == localStorage.getItem("langSelected")) {
						$('#mySelect').prop('selectedIndex', i);

						console.log(e.value);

						if (language == e.value) {
							document.getElementById("filter").style.display = "block"
						} else {
							document.getElementById("filter").style.display = "none"
						}

					}
				});



			</script>

		</div>

	</div>
</section>